@import './base.css';

#app {
  max-width: 1280px;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: 64px calc(100vh - 64px);
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--vt-c-black);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #7777;
  }
}

