@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--vt-c-black);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #7777;
  }
}

